.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top-color: #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;

  position: absolute;

  left: 50%;
  bottom: 50%;

}

@keyframes spin {
  to { transform: rotate(360deg); }
}
